@media (max-width: 980px) {
  main {
    margin: 20px;
  }

  .main_content {
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .step_wrapper {
    gap: 10px;
  }

  .plans_wrapper {
    flex-direction: column;
  }

  .plan_box {
    padding: 10px;
    gap: 5px;
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;
  }

  aside {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: -1;
  }

  .step_list {
    flex-direction: row;
  }

  .step_wrapper article {
    display: none;
  }

  .plan_box {
    flex-direction: row;
    justify-content: flex-start;
  }

  .add_ons_box {
    padding: 10px;
  }

  .main_content {
    width: 100%;
    height: max-content;
  }

  .buttons {
    position: fixed;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
  }
}
