@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --heading: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --bg-circle: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --paragraph: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Magnolia);
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
}

img {
  max-width: 100%;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- GLOBAL CSS START-------------------------------- */
/* --------------------------------------------------------------------------- */
.container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 20px var(--Light-gray);
  padding: 10px;
}

aside {
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  width: 300px;
  height: 650px;
  border-radius: 10px;
  padding: 30px;
}

.step_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.step_wrapper span {
  color: var(--paragraph);
}

.step_wrapper p {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

.step_circle {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: ease 0.3s;
}

.step_circle_active {
  background-color: var(--bg-circle);
  color: black;
  font-weight: bold;
  transition: ease 0.3s;
}

.text_blue {
  color: var(--heading);
}

.text_gray {
  color: var(--paragraph);
}

.buttons {
  display: grid;
  grid-template-areas: 'btn_left btn_right';
  padding-bottom: 30px;
}

main {
  margin: 50px 100px 0;
  display: flex;
}

.main_content {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_1,
.content_2,
.content_3,
.content_4 {
  display: none;
}

/* --------------------------------------------------------------------------- */
/* -------------------------GLOBAL CSS END---------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* ------------------------CONTENT 1 CSS START------------------------------- */
/* --------------------------------------------------------------------------- */

header {
  margin-bottom: 50px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.personal_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_control {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.form_label {
  display: flex;
  justify-content: space-between;
}

.form_label label {
  font-weight: 500px;
  margin-bottom: 10px;
}

.form_input {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid var(--Light-gray);
  color: var(--heading);
  font-weight: bold;
}
.form_input::placeholder {
  color: var(--paragraph);
}

.form_input:focus {
  outline-color: var(--Purplish-blue);
  color: var(--heading);
  font-weight: bold;
}

.error_text {
  color: var(--Strawberry-red);
  font-size: 14px;
  font-weight: bold;
  display: none;
}

.btn_next {
  justify-self: end;
  width: max-content;
  grid-area: btn_right;
  padding: 15px 30px;
  border-radius: 7px;
  border: none;
  background-color: var(--heading);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn_next:hover {
  opacity: 0.9;
}
/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 1 CSS END-------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 2 CSS START-------------------------------- */
/* --------------------------------------------------------------------------- */

.plans_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-basis: 30%;
}

.plan_box {
  width: 100%;
  border: 1px solid var(--Light-gray);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.plan_free_text {
  display: none;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
}

.plan_box:hover {
  border: 1px solid var(--Purplish-blue);
}

.plan_box_selected {
  border: 1px solid var(--Purplish-blue);
}

.plans_switcher {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.switcher {
  width: 40px;
  background-color: var(--heading);
  border-radius: 20px;
  position: relative;
}

.switch_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
}

.switch_circle {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.switch_checkbox:checked ~ .switch_circle {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 23px;
}

.switch_active {
  color: var(--heading);
  font-weight: bold;
}

.btn_prev {
  justify-self: start;
  width: max-content;
  grid-area: btn_left;
  border: 0;
  background-color: transparent;
  font-weight: bold;
  color: var(--paragraph);
  cursor: pointer;
}

.btn_prev:hover {
  color: var(--heading);
}
/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 2 CSS END-------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 3 CSS START-------------------------------- */
/* --------------------------------------------------------------------------- */

.add_ons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add_ons_box {
  border: 1px solid var(--Light-gray);
  padding: 25px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.add_ons_box:hover {
  border: 1px solid var(--Purplish-blue);
  transition: ease 0.3s;
}

.add_ons_box_active {
  border: 1px solid var(--Purplish-blue);
}

.add_ons_checkbox {
  accent-color: var(--Purplish-blue);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.add_ons_checkbox:checked {
  color: var(--Purplish-blue);
}

.add_ons_left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.add_ons_desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add_ons_price {
  color: var(--Purplish-blue);
  font-weight: 500;
}

/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 3 CSS END-------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 4 CSS START-------------------------------- */
/* --------------------------------------------------------------------------- */

.finishing_wrapper hr {
  color: var(--Light-gray);
  opacity: 0.5;
}

.finishing_wrapper > * {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.finishing_total {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.finishing_add_ons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.finishing_selected_add_ons_price {
  font-weight: 500;
}

.finishing_selected_add_ons {
  display: flex;
  justify-content: space-between;
}

.finishing_total_price {
  margin-top: 30px;
  color: var(--Purplish-blue);
}

.btn_confirm {
  justify-self: end;
  width: max-content;
  grid-area: btn_right;
  padding: 15px 30px;
  border-radius: 7px;
  border: none;
  background-color: var(--Purplish-blue);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn_confirm:hover {
  opacity: 0.8;
}
/* --------------------------------------------------------------------------- */
/* -------------------------CONTENT 4 CSS END-------------------------------- */
/* --------------------------------------------------------------------------- */

.final_section {
  text-align: center;
  margin: auto;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
